@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

$poppins:  'Poppins', sans-serif;
$roboto:  'Roboto', sans-serif;

$mainAzul: #266078;
$bkAzul:#131B24;
$white: #ffffff;
$black: #000000;
