@use 'global/variables' as v;

.portfolio{
    background-color: v.$bkAzul;

    &__h3{
      font-family: v.$roboto;
      font-weight: 400;
      font-size: 3rem;
      text-align: center;
      color: v.$black;
      text-shadow:
      -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 1px 0 #fff;
      @media screen and (min-width: 1024px){
         font-size: 4rem;
      }
      @media screen and (min-width: 1200px){
         font-size: 5rem;
      }
   }
    &__content{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 4rem;
   }
    &__box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px;
      &--mt{
      margin-top: 4rem;
      margin-bottom: 6rem;
      }
   }
    &__img{
      width: 15rem;
      height: 8rem;
      background: url('/img/project1.webp');
      background-size: cover;
      background-position: center;
      border: 1px solid v.$mainAzul;

      &--2{
         background: url('/img/project2.webp');
         background-size: cover;
         background-position: center;
      }

      &--3{
         background: url('/img/project3.webp');
         background-size: cover;
         background-position: center;
      }

      &--4{
         background: url('/img/coming.webp');
         background-size: cover;
         background-position: center;
      }
      @media screen and (min-width: 768px){
      width: 20rem;
      height: 10rem;
      }
      @media screen and (min-width: 1024px){
      width: 30rem;
      height: 20rem;
     }

     @media screen and (min-width: 1200px){
        width: 35rem;
        height: 25rem;
     }

     @media screen and (min-width: 1400px){
        width: 60rem;
        height: 30rem;
     }
    }
    &__span{
         font-family: v.$roboto;
        font-weight: 700;
        font-size: 1.4rem;
        color: v.$white;
        margin: 0.5rem 0rem 1rem 0rem;

        @media screen and (min-width: 1024px){
            font-size: 2rem;
         }

         @media screen and (min-width: 1200px){
            font-size: 2.6rem;
         }
    }

    &__a{
      font-family: v.$poppins;
        font-weight: 500;
        color: v.$white;
        font-size: 1.2rem;
        padding: 1rem 3rem;
        background: linear-gradient(125deg, v.$mainAzul, v.$black);
        border: 2px;

        &:hover{
            background: linear-gradient(125deg, grey, v.$bkAzul);
        }

        @media screen and (min-width: 1024px){
            font-size: 1.4rem;
         }

         @media screen and (min-width: 1024px){
            font-size: 1.6rem;
         }
    }
}